@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'vars';
@import 'utility';

body {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    font-size: 14px;
    font-family: 'Roboto',
    sans-serif;

    h1,
    h2,
    h3,
    h5,
    h6 {
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        color: #515050;
        padding: 40px 0px;
    }

    color: $grey-dark;

    .container {
        max-width: 1188px;
    }

    header {
        nav {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: black;
                        padding: 15px;
                        text-align: center;
                        position: relative;
                        margin: 2px;

                        &:after {
                            content: " ";
                            border-bottom: 2px solid $white;
                            display: block;
                            visibility: hidden;
                            width: 0%;
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            transition: 0.5s;
                        }

                        &:hover {
                            &::after {
                                visibility: visible;
                                width: 100%;
                            }
                        }

                        &.active {
                            &::after {
                                visibility: visible;
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }
    }

    main {
        .who-we-are {
            background-color: $light-grey;

            .content-left {
                p {
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.8;
                }

                a {
                    font-size: 14px;
                    letter-spacing: 2px;
                    padding: 10px 40px;
                }
            }

            .img-holder {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .some-creative-work {
            .row {
                .col-md-3 {
                    width: 30% !important;
                }

                .col-md-5 {
                    width: 40% !important;
                }

                .col-md-6 {
                    width: 60% !important;
                }

                &>:not(:first-child) {
                    a {
                        overflow: hidden;
                        height: 312px;

                        img {
                            min-height: 100%;
                            min-width: 100%;
                        }

                        display: block;
                        overflow: hidden;
                        background-color: black;

                        &:hover {
                            img {
                                opacity: 0.5;
                            }
                        }

                    }
                }
            }

        }

        .our-skills {
            height: 610px;
            overflow: hidden;

            .left-col {
                padding-left: 160px;
                padding-right: 113px;
            }

            .progress-container {
                .progress {
                    height: 6px;
                }

                .green {
                    color: #0dc184;
                }

                .bg-green {
                    background-color: #0dc184;
                }

                .blue {
                    color: #15a2dc;
                }

                .bg-blue {
                    background-color: #15a2dc;
                }

                .pink {
                    color: #ea236f;
                }

                .bg-pink {
                    background-color: #ea236f;
                }

                .yellow {
                    color: #ffb500;
                }

                .bg-yellow {
                    background-color: #ffb500;
                }
            }

            .right-img-container {
                width: 100%;
                height: auto;

            }
        }

        .our-services {
            .content-left {
                min-height: 509px;
            }

            .inner-container {
                &:hover {

                    // a{
                    //     transform: scale(1.3);
                    //     transition: 1.3s;
                    // }
                    h3 {
                        opacity: 1;
                    }
                }

                a {
                    display: block;
                    height: 279px;
                    background-size: cover;
                }

                position: relative;
                overflow: hidden;

                h3 {
                    transition: 0.5s;
                    opacity: 0;
                    padding: 0;
                    color: $white;
                    line-height: 279px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }

                .img1 {
                    background-repeat: no-repeat;
                    background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-1.jpg);
                }

                .img2 {
                    background-repeat: no-repeat;
                    background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-2.jpg);
                }

                .img3 {
                    background-repeat: no-repeat;
                    background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-3.jpg);
                }

                .img4 {
                    background-repeat: no-repeat;
                    background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-4.jpg);
                }
            }
        }

        .designers {
            .img-holder {
                .btn {
                    border-radius: 0 !important;
                }

                .inner-container {
                    position: relative;

                    &:hover {
                        .ul-cont {
                            opacity: 1;
                        }
                    }

                    .ul-cont {
                        opacity: 0;
                        transition: 0.5s;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        right: 0;
                        top: 0;
                        background-color: rgba(0, 0, 0, 0.5);

                        .icons-groups {
                            position: absolute;
                            top: 20px;
                            right: 10px;

                            li {
                                list-style: none;

                                a {
                                    color: white;
                                    display: inline-block;
                                    padding: 10px;

                                    &:hover{
                                        color: $red;
                                    }
                                }
                            }
                        }
                    }
                }

            }

          

        }

        .our-prices {  
                .standard{
                    text-align: center;
                    .rate{
                        color: $red;
                        font-size: 60px;
                        font-weight: 600;               
                        font-family: 'Open Sans', sans-serif;
                    }
                    a{
                       border: 1px solid $red; 
                       padding: 10px 39px;
                       display: block;
                       color: $red;
                       font-size: 13px;
                       letter-spacing: 2px;
                       line-height: 1.8;
                       &:hover{
                           background-color: $red;
                           color: $white;
                       }
                    }
                    border-bottom: 4px solid $red;
                    &:hover{
                        border-bottom: 4px solid $red;
                        transform: rotateY(10deg);
                        transition: 0.1s; 
                    }                 
                } 
                // & .col-last{                   
                //         border-bottom: 0;
                //         &:hover{
                //             border-bottom: 4px solid $red;
                //         }                                      
                // }            
        }

        form{
            background-color: $light-grey;
            input[type=text], [type=email]{
                padding: 5px 30px 5px 5px;
                border: 1px solid $grey-dark;              
            }
            textarea {
                width: 100%;
                height: 150px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 1px solid $grey-dark;
                border-radius: 4px;
                background-color: #f8f8f8;
                font-size: 16px;
                margin: 30px 0px;
              }            
                  
              input[type=btn]{
                  padding: 10px;
                  background-color: $red;
                  color: $white;
                  border: none;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 13px;
                  letter-spacing: 2px;
                  font-weight: 400;                 
                  &:hover{
                      opacity: 0.8;
                  }
              }
            
        }
    }

    footer{
        .footer-top{
            background-color: #111111;
            color: #999999;
            
            .content{
                align-self: center;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                line-height: 1.8; 
            }      
        }

    .footer-buttom{
         background-color: $red;
         p{
             color: $white;
         }
    }
    }
}