@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.bg-red {
  background-color: #ec082b;
}

.bg-light-grey {
  background-color: #fbf9fa;
}

h4 {
  font-size: 18px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  color: #333;
}

.number {
  color: #c8c3c3;
  font-size: 40px;
  font-weight: 100;
  padding-top: 40px;
}

.content-btm {
  background-color: black;
}
.content-btm .btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
}
.content-btm .btn:hover {
  opacity: 0.9;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #333;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h1,
body h2,
body h3,
body h5,
body h6 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #515050;
  padding: 40px 0px;
}
body .container {
  max-width: 1188px;
}
body header nav .navbar-nav .nav-item .nav-link {
  color: black;
  padding: 15px;
  text-align: center;
  position: relative;
  margin: 2px;
}
body header nav .navbar-nav .nav-item .nav-link:after {
  content: " ";
  border-bottom: 2px solid #fff;
  display: block;
  visibility: hidden;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: 0.5s;
}
body header nav .navbar-nav .nav-item .nav-link:hover::after {
  visibility: visible;
  width: 100%;
}
body header nav .navbar-nav .nav-item .nav-link.active::after {
  visibility: visible;
  width: 100%;
}
body main .who-we-are {
  background-color: #fbf9fa;
}
body main .who-we-are .content-left p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}
body main .who-we-are .content-left a {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px 40px;
}
body main .who-we-are .img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .some-creative-work .row .col-md-3 {
  width: 30% !important;
}
body main .some-creative-work .row .col-md-5 {
  width: 40% !important;
}
body main .some-creative-work .row .col-md-6 {
  width: 60% !important;
}
body main .some-creative-work .row > :not(:first-child) a {
  overflow: hidden;
  height: 312px;
  display: block;
  overflow: hidden;
  background-color: black;
}
body main .some-creative-work .row > :not(:first-child) a img {
  min-height: 100%;
  min-width: 100%;
}
body main .some-creative-work .row > :not(:first-child) a:hover img {
  opacity: 0.5;
}
body main .our-skills {
  height: 610px;
  overflow: hidden;
}
body main .our-skills .left-col {
  padding-left: 160px;
  padding-right: 113px;
}
body main .our-skills .progress-container .progress {
  height: 6px;
}
body main .our-skills .progress-container .green {
  color: #0dc184;
}
body main .our-skills .progress-container .bg-green {
  background-color: #0dc184;
}
body main .our-skills .progress-container .blue {
  color: #15a2dc;
}
body main .our-skills .progress-container .bg-blue {
  background-color: #15a2dc;
}
body main .our-skills .progress-container .pink {
  color: #ea236f;
}
body main .our-skills .progress-container .bg-pink {
  background-color: #ea236f;
}
body main .our-skills .progress-container .yellow {
  color: #ffb500;
}
body main .our-skills .progress-container .bg-yellow {
  background-color: #ffb500;
}
body main .our-skills .right-img-container {
  width: 100%;
  height: auto;
}
body main .our-services .content-left {
  min-height: 509px;
}
body main .our-services .inner-container {
  position: relative;
  overflow: hidden;
}
body main .our-services .inner-container:hover h3 {
  opacity: 1;
}
body main .our-services .inner-container a {
  display: block;
  height: 279px;
  background-size: cover;
}
body main .our-services .inner-container h3 {
  transition: 0.5s;
  opacity: 0;
  padding: 0;
  color: #fff;
  line-height: 279px;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
body main .our-services .inner-container .img1 {
  background-repeat: no-repeat;
  background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-1.jpg);
}
body main .our-services .inner-container .img2 {
  background-repeat: no-repeat;
  background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-2.jpg);
}
body main .our-services .inner-container .img3 {
  background-repeat: no-repeat;
  background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-3.jpg);
}
body main .our-services .inner-container .img4 {
  background-repeat: no-repeat;
  background-image: url(https://quomodosoft.com/html/wesal/demo/images/blog/image-4.jpg);
}
body main .designers .img-holder .btn {
  border-radius: 0 !important;
}
body main .designers .img-holder .inner-container {
  position: relative;
}
body main .designers .img-holder .inner-container:hover .ul-cont {
  opacity: 1;
}
body main .designers .img-holder .inner-container .ul-cont {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
body main .designers .img-holder .inner-container .ul-cont .icons-groups {
  position: absolute;
  top: 20px;
  right: 10px;
}
body main .designers .img-holder .inner-container .ul-cont .icons-groups li {
  list-style: none;
}
body main .designers .img-holder .inner-container .ul-cont .icons-groups li a {
  color: white;
  display: inline-block;
  padding: 10px;
}
body main .designers .img-holder .inner-container .ul-cont .icons-groups li a:hover {
  color: #ec082b;
}
body main .our-prices .standard {
  text-align: center;
  border-bottom: 4px solid #ec082b;
}
body main .our-prices .standard .rate {
  color: #ec082b;
  font-size: 60px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
body main .our-prices .standard a {
  border: 1px solid #ec082b;
  padding: 10px 39px;
  display: block;
  color: #ec082b;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 1.8;
}
body main .our-prices .standard a:hover {
  background-color: #ec082b;
  color: #fff;
}
body main .our-prices .standard:hover {
  border-bottom: 4px solid #ec082b;
  transform: rotateY(10deg);
  transition: 0.1s;
}/*# sourceMappingURL=style.css.map */